<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/validation.js}"></script>
    <script>

        function postcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업을 통한 검색 결과 항목 클릭 시 실행
                    var addr = ''; // 주소_결과값이 없을 경우 공백
                    var extraAddr = ''; // 참고항목

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                        addr = data.roadAddress;
                    } else { // 지번 주소를 선택
                        addr = data.jibunAddress;
                    }

                    if (data.userSelectedType === 'R') {
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        if (extraAddr !== '') {
                            extraAddr = '(' + extraAddr + ')';
                        }
                    } else {
                        registerForm.addr1.value = '';
                    }

                    // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                    document.getElementById('zip').value = data.zonecode;
                    document.getElementById('addr1').value = addr;
                    document.getElementById('addr2').value += extraAddr;
                    document.getElementById('addr2').focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
                }
            }).open();
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System</h3>
        </header>
        <main id="user">
            <section class="register">

                <form th:action="@{/user/register}" method="post">
                    <h2 class="tit">사이트 이용정보 입력</h2>
                    <table border="1">                        
                        <tr>
                            <td>아이디</td>
                            <td>
                                <input type="text" name="uid" placeholder="아이디 입력"/>
                                <button type="button" id="btnCheckUid">
                                    <img th:src="@{/img/chk_id.gif}" alt="중복확인"/>
                                </button>
                                <span class="uidResult"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td><input type="password" name="pass1" placeholder="비밀번호 입력"/></td>
                        </tr>
                        <tr>
                            <td>비밀번호 확인</td>
                            <td><input type="password" name="pass2" placeholder="비밀번호 입력 확인"/>
                                <span class="passResult"></span></td>
                        </tr>
                    </table>

                    <h2 class="tit">개인정보 입력</h2>
                    <table border="1">                        
                        <tr>
                            <td>이름</td>
                            <td>
                                <input type="text" name="name" placeholder="이름 입력"/>
                                <span class="nameResult"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>별명</td>
                            <td>
                                <p class="nickInfo">공백없는 한글, 영문, 숫자 입력</p>
                                <input type="text" name="nick" placeholder="별명 입력"/>
                                <button type="button" id="btnCheckNick">
                                    <img th:src="@{/img/chk_id.gif}" alt="중복확인"/>
                                </button>
                                <span class="nickResult"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>
                                <input type="email" name="email" placeholder="이메일 입력"/>
                                <button type="button" id="btnSendEmail">
                                    <img th:src="@{/img/chk_auth.gif}" alt="인증번호 받기"/>
                                    <span class="emailResult"></span>
                                </button>
                                <div class="auth">
                                    <input type="text" name="auth" placeholder="인증번호 입력"/>
                                    <button type="button" id="btnAuthEmail">
                                        <img th:src="@{/img/chk_confirm.gif}" alt="확인"/>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>휴대폰</td>
                            <td>
                                <input type="text" name="hp" placeholder="- 포함 13자리 입력" minlength="13" maxlength="13"/>
                                <span class="hpResult"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td>
                                <input type="text" name="zip" id="zip" placeholder="우편번호"/>
                                <button type="button" class="btnZip" onclick="postcode()">
                                    <img th:src="@{/img/chk_post.gif}" alt="우편번호찾기"/>
                                </button>
                                <input type="text" name="addr1" id="addr1" placeholder="주소 검색"/>
                                <input type="text" name="addr2" id="addr2" placeholder="상세주소 입력"/>
                            </td>
                        </tr>
                    </table>

                    <div>
                        <a th:href="@{/user/login}" class="btn btnCancel">취소</a>
                        <input type="submit" value="회원가입" class="btn btnRegister"/>
                    </div>

                </form>

            </section>
        </main>
        <footer>
            <p>
                <span class="copyright">Copyrightⓒ 김철학(개발에반하다.)</span>
                <span class="version">v1.0.1</span>
            </p>
        </footer>
    </div>    
</body>
</html>